{% extends "content-template.html" %}

{% block content %}

      <div class="container-fluid top-buffer">
      <div class="row">
        <div class="col-md-3">
            <figure>
                <img src="../static/profile.png" id="profile" class="img-responsive rounded img-fluid">
                <figcaption class="figure-caption">
                    <h6>Tech Stack:</h6>
                    <ul>
                        <li> Python</li>
                        <li> Javascript</li>
                        <li> Flask </li>
                        <li> Bootstrap</li>
                    </ul>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-9 col-sm-12 top-buffer">
                <h1 id="hello-title">Hello! I'm Aviad.</h1>
                <p> I am an audit associate at KPMG who enjoys the fascinating world of code. I entered the world of code by teaching myself Python using the plethora of online resources and the rich online community. I have since begun learning Javascript while continuing to pursue Python (you can never forget that first love).</p>
                  <h3> My Journey</h3>
                  <p> Well, everyone needs a hobby, right?  I have friends in the field and they encouraged me to try it out when I told them that work was slow over the summer. I have always been a problem solver (yes, it is about the nail, and I will gladly pull it out.), and lately work hasn’t been providing enough stimulation so I decided to look for a new challenge and found coding. They suggested that I start with Python, and it was love at first script. Like any good auditor, I started looking for any and all useful information on Python that could be useful. (I ruled out anything immaterial.) It turns out that there is a lot out there, including a wide ranging community of other people who love to code and want to share their knowledge and experiences at all skill levels. 
                  </p>
                  <p>After learning to use Python for a few months, I decided to expand my knowledge into learning Javascript so I could learn some web development. (Can you tell that this is my first website yet?) I spent a lot of time learning to code for fun, finding myself with a new challenge or new problem to solve every day, and I knew I wanted to continue to have that kind of fascination every day so I began to consider a career change into the world of code.
                      </p>
        </div>
      </div> 
      </div>

{% endblock %}

